# Configuraiton file for F star analysis
outputdir	spectra/                                # Spectra of F stars from the files that 2dfdr produces
catalogue	photometry/des_fstars_2014.csv          # Photometry of F stars to determine g-r colours
extinction	extinction/aao_extinction.tab           # Mean extinction curve at the AAT
seds        SEDs/                                   # Synthetic SEDs for F stars
filters     filters/                                # Filter curves